body {
    width: 100vw; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
}

.hidden {
    display: none;
}

.container {  display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 5% 47.5% 47.5%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "kcal-total log"
      "history log";
    width: 100vw;
    height: 100vh;
  }
  
  .kcal-total { grid-area: kcal-total; }
  
  .history { grid-area: history; }
  
  .log { grid-area: log; }
  
  .header { grid-area: header; }
  
  .kcal-total {
    display: flex;
    justify-content: center; /*centre horizontally*/
    align-items: center; /*centre vertically*/
    flex-direction: column;
  }

  .header {
    background-color: orange;
  }

  .history {
    padding: 10%;
  }
  
  .log {
    padding: 5%;
  }

  /* Media query for mobile devices (i.e. screen sizes narrower than 600px) */
  @media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 100%; /* one column layout since these screens are more vertical than horizontal*/
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "header"
        "kcal-total"
        "log"
        "history"; 
    }
  }